extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
        +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text: "HOME", href: "/"}, {text: "BROWSE", href: "/Browse"}, {
            text: "COMMUNITY",
            href: "#"
        }, {text: "ABOUT", href: "/about"}, {text: "CONTACT", href: "/contact"}],0)
        hr
        .container.main
            .row
                .col-sm-3.col-md-3
                    #accordion.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                        span.glyphicon.glyphicon-user
                                        | &nbsp Account
                            #collapseOne.panel-collapse.collapse.in
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href="accountDetails") Account Details
                                        tr
                                            td
                                                a(href='cart') My Orders
                                                span
                                        tr
                                            td
                                                span.glyphicon.glyphicon-trash.text-danger
                                                a.text-danger(href='delete')
                                                    | &nbsp Delete Account
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                        span.glyphicon.glyphicon-th
                                        | &nbsp Sell
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href='sell') Sell A Product
                                                span
                                        tr
                                            td
                                                a(href='myProducts') My Products
                .container
                    for user in users
                       .row
                           .span12
                               .well.well-small.clearfix
                                   .row-fluid
                                       .span2
                                           img.img-polaroid(src='https://cdn4.iconfinder.com/data/icons/security-overcolor/512/user_profile-128.png')
                                       .span4
                                        h2 #{user.realname}
                                        ul.unstyled
                                            li
                                                span.glyphicon.glyphicon-user
                                                 |  #{user.username}
                                            li
                                                span.glyphicon.glyphicon-envelope
                                                 |  #{user.email}



    include footer