extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BUY",href:"/Browse"},{text:"SELL",href:"/Sell"}, {text:"COMMUNITY",href:"#"}],1)
        hr
    .container
        .row
            .col-md-3
                p.lead
                .list-group
                    a.list-group-item(href='#') Clothing
                    a.list-group-item(href='#') Accessories
                    a.list-group-item(href='#') Shoes
            .col-md-9
                for item in items
                    .row
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                +img-responsive("images/!{item.image}", "Product")
                                .caption
                                    !{item.price}
                                    a(href ='/item') !{item.label}
                                .ratings
                                    p.pull-right 15 reviews
                                    p
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star

    footer.footer
        p.text-muted  Copyright &copy Trendy 2016
