extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    .navbar-header
        .searchbar
            +input-group("","Search")
                +input-simple("text","txtname","Search","Name")
        .cart
            button(type="button", onclick= "cart")
                span.glyphicon.glyphicon-usd
                | &nbsp Cart
            script.
                function cart() {
                    window.location.href = '/cart'
                }
        .register
            button(type="button", onclick= "register()")
                span.glyphicon.glyphicon-user
                | &nbsp Register
                span &nbsp &nbsp &nbsp
            script.
                function register() {
                    window.location.href = '/register'
                }
        .login
            button(type="button", onclick= "login()")
                span.glyphicon.glyphicon-log-in
                | &nbsp Login
                span &nbsp &nbsp &nbsp
            script.
                function login() {
                    window.location.href = '/login'
                }
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BUY",href:"/Browse"},{text:"SELL",href:"/Sell"}, {text:"COMMUNITY",href:"#"}],0)
        hr
    .container
        .row
            .col-md-3
                p.lead Filter by Type
                .list-group
                    a.list-group-item(href='#') Clothing
                    a.list-group-item(href='#') Accessories
                    a.list-group-item(href='#') Shoes
            .col-md-9
                .row
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $24.99
                                h4
                                    a(href='/item') First Product
                            .ratings
                                p.pull-right 15 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $64.99
                                h4
                                    a(href='#') Second Product
                            .ratings
                                p.pull-right 12 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $74.99
                                h4
                                    a(href='#') Third Product
                            .ratings
                                p.pull-right 31 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $84.99
                                h4
                                    a(href='#') Fourth Product
                            .ratings
                                p.pull-right 6 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                                    span.glyphicon.glyphicon-star-empty
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $94.99
                                h4
                                    a(href='#') Fifth Product
                            .ratings
                                p.pull-right 18 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                    .col-sm-4.col-lg-4.col-md-4
                        .thumbnail
                            img(src='http://placehold.it/320x150', alt='')
                            .caption
                                h4.pull-right $94.99
                                h4
                                    a(href='#') Sixth Product
                            .ratings
                                p.pull-right 18 reviews
                                p
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty

    footer.footer
        p.text-muted  Copyright &copy Trendy 2016
