extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BROWSE",href:"/Browse"}, {text:"COMMUNITY",href:"#"}, {text:"ABOUT",href:"/about"}, {text:"CONTACT",href:"/contact"}],0)
        hr
        br
        .container
      .row
        .col-sm-12.col-md-10.col-md-offset-1
          table.table.table-hover
            thead
              tr
                th Product
                th Quantity
                th.text-center Price
                th.text-center Total
                th  
            tbody
              tr
                td.col-sm-8.col-md-6
                  .media
                    a.thumbnail.pull-left(href='#')
                      img.media-object(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', style='width: 72px; height: 72px;')
                    .media-body
                      h4.media-heading
                        a(href='#') Product name
                      h5.media-heading
                        | by 
                        a(href='#') Brand name
                      span Status: 
                      span.text-success
                        strong In Stock
                td.col-sm-1.col-md-1(style='text-align: center')
                  input#exampleInputEmail1.form-control(type='email', value='3')
                td.col-sm-1.col-md-1.text-center
                  strong $4.87
                td.col-sm-1.col-md-1.text-center
                  strong $14.61
                td.col-sm-1.col-md-1
                  button.btn.btn-danger(type='button')
                    span.glyphicon.glyphicon-remove
                    |  Remove
              tr
                td.col-md-6
                  .media
                    a.thumbnail.pull-left(href='#')
                      img.media-object(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', style='width: 72px; height: 72px;')
                    .media-body
                      h4.media-heading
                        a(href='#') Product name
                      h5.media-heading
                        | by 
                        a(href='#') Brand name
                      span Status: 
                      span.text-warning
                        strong Leaves warehouse in 2 - 3 weeks
                td.col-md-1(style='text-align: center')
                  input#exampleInputEmail1.form-control(type='email', value='2')
                td.col-md-1.text-center
                  strong $4.99
                td.col-md-1.text-center
                  strong $9.98
                td.col-md-1
                  button.btn.btn-danger(type='button')
                    span.glyphicon.glyphicon-remove
                    |  Remove
              tr
                td    
                td    
                td    
                td
                  h5 Subtotal
                td.text-right
                  h5
                    strong $24.59
              tr
                td    
                td    
                td    
                td
                  h5 Estimated shipping
                td.text-right
                  h5
                    strong $6.94
              tr
                td    
                td    
                td    
                td
                  h3 Total
                td.text-right
                  h3
                    strong $31.53
              tr
                td    
                td    
                td    
                td
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Continue Shopping
                td
                  button.btn.btn-success(type='button')
                    | Checkout 
                    span.glyphicon.glyphicon-play
    include footer    