extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    .navbar-header
        .searchbar
            +input-group("","Search")
                +input-simple("text","txtname","Search","Name")
        .cart
            button(type="button", onclick= "cart")
                span.glyphicon.glyphicon-usd
                | &nbsp Cart
            script.
                function cart() {
                    window.location.href = '/cart'
                }
        .register
            button(type="button", onclick= "register()")
                span.glyphicon.glyphicon-user
                | &nbsp Register
                span &nbsp &nbsp &nbsp
            script.
                function register() {
                    window.location.href = '/register'
                }
        .login
            button(type="button", onclick= "login()")
                span.glyphicon.glyphicon-log-in
                | &nbsp Login
                span &nbsp &nbsp &nbsp
            script.
                function login() {
                    window.location.href = '/login'
                }
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BUY",href:"/Browse"},{text:"SELL",href:"/Sell"}, {text:"COMMUNITY",href:"#"}],0)
        hr
        .signup
            +carousel("carousel",[
                  {
                      image: "/images/join.png",
                      h1: "Join the Community",
                      button: {caption: "Sign Up Today", url: "/register"}
                  },
                  {
                      image: "/images/login.png",
                      h1: "Already a member?",
                      button: {caption: "Sign In", url: "/login"}
                  },
                  {
                      image:"/images/explore.png",
                      h1: "Explore fashion",
                      button: {caption: "Browse Now", url: "/Browse"}
                  }
              ])
            br
        p.home-page Write about us here
    footer.footer
        p.text-muted  Copyright &copy Trendy 2016
