extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BROWSE",href:"/Browse"}, {text:"COMMUNITY",href:"#"}, {text:"ABOUT",href:"/about"}, {text:"CONTACT",href:"/contact"}],0)
        hr
        .container
            .row
                .col-xs-12.col-sm-12.col-md-3.col-lg-3
                    .panel.panel-default
                        .panel-heading
                            h4 Shop by Product
                        .panel-body
                            ul#cat-navi.nav.nav-list
                                li.active
                                    a(href='#') Active category
                                li
                                    a(href='#') New in: Category
                                li
                                    a(href='#') New in: Category
                                li
                                    a(href='#') New in: Category
                                li
                                    a(href='#') New in: Category
                                li
                                    a(href='#') New in: Category
                    .panel.panel-default.visible-lg
                        .panel-heading
                            h4 Most Popular
                        .panel-body
                            ul#cat-navi2.nav.nav-list
                                li.active
                                    a(href='#') Active category
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                                li
                                    a(href='#') Category title
                .col-md-9
                    .row.carousel-holder
                        .col-md-12
                            +carousel("carousel",[
                                {
                                image: "/images/join.png",
                                h1: "Join the Community",
                                button: {caption: "Sign Up Today", url: "/register"}
                                },
                                {
                                image: "/images/login.png",
                                h1: "Already a member?",
                                button: {caption: "Sign In", url: "/login"}
                                },
                                {
                                image:"/images/explore.png",
                                h1: "Explore fashion",
                                button: {caption: "Browse Now", url: "/Browse"}
                                }
                                ])
                            br
                            p Featured Products
                    .row
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $24.99
                                    h4
                                        a(href='#') First Product
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $64.99
                                    h4
                                        a(href='#') Second Product
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $74.99
                                    h4
                                        a(href='#') Third Product
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $84.99
                                    h4
                                        a(href='#') Fourth Product
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $94.99
                                    h4
                                        a(href='#') Fifth Product
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right $94.99
                                    h4
                                        a(href='#') Sixth Product
    include footer
