extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BROWSE",href:"/Browse"}, {text:"COMMUNITY",href:"#"}, {text:"ABOUT",href:"/about"}, {text:"CONTACT",href:"/contact"}],1)
        hr
        .container
            .row
                .col-xs-12.col-sm-12.col-md-3.col-lg-3
                    .panel.panel-default
                        .panel-heading
                            h4 Shop by Gender
                        .panel-body
                            ul#cat-navi.nav.nav-list
                                li.active
                                    a(href='#') Womens
                                li
                                    a(href='#') Mens
                    .panel.panel-default.visible-lg
                        .panel-heading
                            h4 Shop By Product
                        .panel-body
                            ul#cat-navi2.nav.nav-list
                                li.active
                                    a(href='#') Clothes
                                li
                                    a(href='#') Shoes
                                li
                                    a(href='#') Accessories
                                li
                                    a(href='#') Swimwear
                .col-md-9
                    .thumbnail
                        img(id='search-results-image', src='images/#{items.image}.png', alt='Product')
                        .caption-full
                            form(id='form-cart', method='post')
                                button(type='submit').btn.btn-primary.button-shopping-cart
                                    | Add To Cart
                            h4
                                a(href='#') #{items.label}
                            p
                                | #{items.description}
                                | 
                        .ratings
                            p.pull-right 3 reviews
                            p
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                |                             4.0 stars
                    .well
                        .text-right
                            a.btn.btn-success Leave a Review
                        hr
                        .row
                            .col-md-12
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                |Anonymous
                                p This product was great in terms of quality. I would definitely buy another one!
                        hr
                        .row
                            .col-md-12
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                |                             Anonymous
                                p I've alredy ordered another one!
                        hr
                        .row
                            .col-md-12
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                |Anonymous
                                p
                                    | I've seen some better than this, but not at this price. I definitely recommend this item.

    include footer

