extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title
    
block body
   include topnav

    footer.footer
        p.text-muted  Copyright &copy Trendy 2016
