extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title
    
block body
   include topnav
   .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text: "HOME", href: "/"}, {text: "BUY", href: "/Browse"}, {text: "SELL", href: "/Sell"}, {text: "COMMUNITY", href: "#"}],0)
        hr
       .col-lg-6.col-sm-6
          .card.hovercard
            .card-background
            .card-info
              span.card-title #{username}
          .btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
            .btn-group(role='group')
              button#buying.btn.btn-primary(type='button', href='#tab1', data-toggle='tab')
                span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
                .hidden-xs Buying
            .btn-group(role='group')
              button#selling.btn.btn-default(type='button', href='#tab2', data-toggle='tab')
                span.glyphicon.glyphicon-usd(aria-hidden='true')
                .hidden-xs Selling
            .btn-group(role='group')
              button#account.btn.btn-default(type='button', href='#tab3', data-toggle='tab')
                span.glyphicon.glyphicon-user(aria-hidden='true')
                .hidden-xs Account
          .well
            .tab-content
              #tab1.tab-pane.fade.in.active
                #{buy}
              #tab2.tab-pane.fade.in
                h3 Stuff you're selling
              #tab3.tab-pane.fade.in
                h3 Account Details


    footer.footer
        p.text-muted  Copyright &copy Trendy 2016
