extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"Browse",href:"/Browse"}, {text:"COMMUNITY",href:"#"}, {text:"ABOUT",href:"/about"}, {text:"CONTACT",href:"/contact"}],0)
        hr
        .title Register
        br
        .subtitle Join the community here
        br
        form.well(id='form-login', method='post')
            .form-group
                label Name
                input.form-control(type='text', name='realname')
            .form-group
                label Username
                input.form-control(type='text', id='user-tf', name='user')
            .form-group
                label Password
                input.form-control(type='password', id='pass-tf', name='pass')
            .controls
                button(type='submit').btn.btn-primary.button-sign-in
                    span.glyphicon.glyphicon-log-in
                    | &nbsp Join Now
            .clearfix

        br
    include footer