extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
        +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text: "HOME", href: "/"}, {text: "BROWSE", href: "/Browse"}, {
            text: "COMMUNITY",
            href: "#"
        }, {text: "ABOUT", href: "/about"}, {text: "CONTACT", href: "/contact"}],0)
        hr
        .container.main
            .row
                .col-sm-3.col-md-3
                    #accordion.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                        span.glyphicon.glyphicon-user
                                        | &nbsp Account
                            #collapseOne.panel-collapse.collapse.in
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href="accountDetails") Account Details
                                        tr
                                            td
                                                a(href='myOrders') My Orders
                                                span
                                        tr
                                            td
                                                span.glyphicon.glyphicon-trash.text-danger
                                                a.text-danger(href='deleteItem')
                                                    | &nbsp Delete Account
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                        span.glyphicon.glyphicon-th
                                        | &nbsp Sell
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href='myProducts') Sell A Product
                                                span
                                        tr
                                            td
                                                a(href='myProducts') My Products
                .container
                    h2 &nbsp #{title}  
                    h5 &nbsp &nbsp Fill in all field below in order to add a product to the site to sell.
                    form.well(id='form-login', method='post')
                        .form-group
                            label Label *
                            input.form-control(type='text', name='label', required)
                        .form-group
                            label Size *
                            input.form-control(type='text', name='size', required)
                        .form-group
                            label Price *
                            input.form-control(type='numeric', name='price', required)
                        .form-group
                            label Description *
                            input.form-control(type='text', name='description', required)
                        .form-group
                            label Category *
                            .radio
                                label
                                    input(type='radio', name='category', value ='clothes')
                                    |  Clothes
                            .radio
                                label
                                    input(type='radio', name='category', value ='shoes')
                                    | Shoes
                            .radio
                                label
                                    input(type='radio', name='category', value ='accessories')
                                    | Accessories
                            .radio
                                label
                                    input(type='radio', name='category', , value ='swimwear')
                                    | Swimwear
        

                        .form-group
                            label Condition *
                            input.form-control(type = 'text', name = 'condition', required)
                         .form-group
                            label Gender *
                            .radio
                                label
                                    input(type='radio', name='gender', value ='women')
                                    |  Womens
                            .radio
                                label
                                    input(type='radio', name='gender', value ='men')
                                    | Mens    
                        .form(name = "upload", action = "/upload", method = "post", enctype="multipart/form-data")
                            input(type="file", name="file")
                        br
                        .controls
                            button(type='submit').btn.btn-primary.button-sign-in
                                span.glyphicon.glyphicon-check
                                | &nbsp Submit
                        .clearfix


    include footer