#topnav
.navbar-header
        .searchbar
            form.nav.navbar-nav.middle(name='search-query', action='/browse', method='get')
                    input(id='searchBox', "text", "query", "Search" value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}", name='search')
                    input(id='submitButton', type='submit', value='Search')
        .cart
            button(type="button", onclick= "cart()")
                span.glyphicon.glyphicon-usd
                | &nbsp Cart
            script.
                function cart() {
                    window.location.href = '/cart'
                }
        .register
            button(type="button", onclick= "register()")
                span.glyphicon.glyphicon-user
                | &nbsp Register
                span &nbsp &nbsp &nbsp
            script.
                function register() {
                    window.location.href = '/register'
                }
        .login
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', onclick= "login()")
                    span.glyphicon.glyphicon-log-in
                    strong #{username}
                    span.glyphicon.glyphicon-chevron-down
                ul.dropdown-menu
                    li
                        .navbar-login
                            .row
                                .col-lg-4
                                    p.text-center
                                        span.glyphicon.glyphicon-user.icon-size
                                .col-lg-8
                                    p.text-left
                                        strong #{username}
                                    p.text-left.small correoElectronico@email.com
                                    p.text-left
                                        a.btn.btn-primary.btn-block.btn-sm(href='/profile') View Profile
                    li.divider
                    li
                        .navbar-login.navbar-login-session
                            .row
                                .col-lg-12
                                    p
                                        a.btn.btn-danger.btn-block(href='#') Log Out

            script.
                function login() {
                	if(username ==  null){
                    window.location.href = '/login'
                    }
                }
         #{failed}